:root {
    --blanco: #FFFFFF;
    --colorClaro: #FFFFB3;
    --rojo: #C05746;
    --primario: #202C39;
    --secundario: #283845;
    --azul: #A1CDA8;
    --fuentePrincipal: 'Palanquin', sans-serif;
    --fuenteTitulo: 'Raleway', sans-serif;
    --fuenteSubtitulo: 'Cairo', sans-serif;
}

/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.5;
}

/*Código para el modelo caja*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    /* background-image: linear-gradient(to top, var(--primario) 0%, var(--secundario) 100%); */
    background-color: var(--primario);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 2rem;
}

h1 {
    font-family: var(--fuenteTitulo);
}

h2, h3, h4, h5 {
    font-family: var(--fuenteSubtitulo);
}

/* Utilidades */
.text-center {
    text-align: center;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.mt-5 {
    margin-top: 5rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mt-3 {
    margin-top: 3rem;
}

.mb-3 {
    margin-bottom: 3rem;
}

.titulo {
    color: var(--colorClaro);
    margin: 2rem 0;
}

.subtitulo {
    /* margin: 5rem 0; */
    color: var(--colorClaro);
    font-weight: bold;
}

.texto-parrafo {
    color: var(--blanco);
    margin: 0 3rem;
    margin-top: 2rem;
    text-align: justify;
    font-size: 1.8rem;
    line-height: 1.6;
}

.logo {
    margin: 0 auto;
    padding: 0;
    width: 80%;
}

header.header {
    display: flex;
    flex-direction: column;
    background-color: var(--secundario);
}

@media (min-width: 768px) {
    header.header {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navegacion a {
    display: flex;
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--azul);
    padding: 1.5rem 1rem;
    justify-content: center;
    width: 100%;  
}

@media (min-width: 768px) {
    .navegacion {
        flex-direction: row;
        margin-right: 5rem;
        justify-content: space-between;
        width: 40%;
        text-align: center;
    }

    .navegacion a {
        display: block;
    }

    .navegacion a:hover,
    .navegacion .link-activo {
        border-radius: 18px;
    }
}

.navegacion a:hover,
.navegacion .link-activo {
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.seccion-sobremi {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .seccion-sobremi {
        flex-direction: row;
    }
}

.card-informacion {
    width: 90%;
    height: auto;
    background-color: var(--secundario);
    margin: 0 auto;
    border-radius: 8px;
}   

@media (min-width: 768px) {
    .card-informacion {
        width: 50%;
    }
}

.card-foto {
    width: 30rem;
    height: 30rem;
    margin: 6rem auto;
    border-radius: 50%;
    background-image: url(../img/perfil.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 0.3rem solid var(--azul);
    box-shadow: 0 0 10px var(--azul);
}

@media (min-width: 768px) {
    .card-foto {
        width: 20rem;
        height: 20rem;
        margin: 3rem auto;
    }
}

.card-foto img {
    max-width: 100%;
    margin: 0 auto;
    border-radius: 50%;
}

.card-nombre {
    width: 90%;
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 8rem auto 0 auto;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .card-nombre {
        margin: 4rem auto;
    }
}

.card-separador {
    width: 90%;
    height: 0.3rem;
    background-color: var(--azul);
    border-radius: 10px;
    margin: 5rem auto;
    box-shadow: 0 0 10px var(--azul);
}

.card-redes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto 5rem auto;
}

.icono {
    width: 7rem;
    height: 7rem;
}

.icono:hover {
    scale: 1.2;
    transition: ease 0.1s;
}

.icono-github {
    background-image: url(../img/logogithub.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-linkedin {
    background-image: url(../img/logolinkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.icono-youtube {
    background-image: url(../img/logoyoutube.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.informacion-sobremi {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    padding: 1.5rem;
}

.stack-tecnologias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

@media (min-width: 768px) {
    .stack-tecnologias {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

.stack-tecnologias p {
    font-weight: bold;
    text-align: center;
    color: var(--blanco);
}

.tecnologia-stack:hover {
    scale: 1.3;
    transition: ease 0.2s;
}

.tecnologia-stack {
    text-align: center;
}

.waves {
    margin-top: 5rem;
}

.contenedor-servicios {
    background-color: var(--secundario);
    margin-bottom: 5rem;
    height: 30rem;
}

.contenedor-servicios h2{
    margin-top: -1rem;
}

footer.footer {
    background-color: var(--secundario);
    color: var(--colorClaro);
    padding: 1rem;
    font-weight: bold;
}
