:root {
    --blanco: #FFFFFF;
    --colorClaro: #FFFFB3;
    --rojo: #C05746;
    --primario: #202C39;
    --secundario: #283845;
    --azul: #A1CDA8;
    --fuentePrincipal: 'Palanquin', sans-serif;
    --fuenteTitulo: 'Raleway', sans-serif;
    --fuenteSubtitulo: 'Cairo', sans-serif;
}

/*Globales*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    line-height: 1.5;
}

/*Código para el modelo caja*/
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--fuentePrincipal);
    /* background-image: linear-gradient(to top, var(--primario) 0%, var(--secundario) 100%); */
    background-color: var(--primario);
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--fuenteTitulo);
}

h2, h3, h4, h5 {
    font-family: var(--fuenteSubtitulo);
}

/* Utilidades */
.text-center {
    text-align: center;
}

.logo {
    margin: 0 auto;
}


.titulo {
    color: var(--colorClaro);
    margin: 2rem 0;
}


.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5rem;
}

header.header {
    display: flex;
    flex-direction: row;
    background-color: var(--secundario);
    justify-content: space-between;
}

footer.footer {
    background-color: var(--secundario);
    color: var(--colorClaro);
    padding: 1rem;
    font-weight: bold;
    margin: 10rem  0 0 0;
}

.logo {
    width: 70%;
    margin: 0;
    padding: 0;
}

.navegacion a {
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--azul);
    padding: 1.5rem;
    display: block;
}

.navegacion a:hover {
    color: var(--blanco);
    font-weight: bold;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 18px;
}